<header class="home-header">
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for slide in post.meta('slider_slide_group') %}
                <div class="swiper-slide">
                    <div class="text-overlay">
                        <p class="pre-title">{{ slide.pre_title_text }}</p>
                        <h1 class="main-title">{{ slide.main_title_text }}</h1>
                        <p class="sub-paragraph">{{ slide.sub_title_paragraph }}</p>
                    </div>

                    <img
                        class="slide-image"
                        src="{{ slide.slide_image.url }}"
                        alt="{{ slide.slide_image.alt }}"
                    />
                </div>
            {% endfor %}
        </div> {# /.swiper-wrapper #}

        {# slideshow controls #}
        <div class="slider-navigation">
            <div class="control-wrapper no-circle">
                <span class="swiper-pagination"></span>
            </div>

            <div class="navigation-inner-wrap">

                <button class="swiper-button-prev" title="Previous Slide"></button>
                <button class="swiper-button-next" title="Next Slide"></button>

                <button class="swiper-pause-button" title="Pause" aria-label="Pause slideshow">
                    <span class="fa-solid fa-pause"></span>
                </button>

                <button class="swiper-play-button" title="Play" aria-label="Start/Resume slideshow">
                    <span class="fa-solid fa-play"></span>
                </button>

                <div class="autoplay-progress">
                    <span></span>
                </div>

            </div> {# /.navigation-inner-wrap #}
        </div> {# /.slider-navigation #}

        <button class="open-slider-navigation" aria-label="Toggle slider controls">
            <span class="fa-solid fa-chevron-left"></span>
        </button>
    </div> {# /.swiper #}
</header>
