{% extends 'base.twig' %}

{% block content %}
<section class="content-block">
    <div class="alt-background first-block">
        <div class="alt-container">
            <h2 class="title-separator">Upcoming Events</h2>
            <section class="upcoming-events-block">
                <img
                    class="event-poster"
                    src="{{ post.meta('main_event_poster').url }}"
                    alt="{{ post.meta('main_event_poster').alt }}"
                />

                <div class="event-list">
                    {% for event in featured_events %}
                        <div class="event-list__event">
                            <div class="event-date">
                                <p class="h4">{{ event.event_date|date('M') }}</p>
                                <p class="h4">{{ event.event_date|date('j') }}</p>
                            </div>
                            <div>
                                <p class="h5">{{ event.headline_or_artist }} &mdash; {{ event.event_location }}</p>
                                <a class="primary-btn primary-btn--solid-white btn-small details" href="{{ event.link }}">Event Details</a>
                                {% if event.ticket_purchase_option %}
                                    <a
                                        class="primary-btn primary-btn--solid-white btn-small"
                                        href="{{ event.ticket_purchase_link }}"
                                        target="_blank"
                                        rel="noopener">
                                        Buy Tickets
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div> {# end event-list #}

            </section>
        </div>
    </div>

    <h2 class="title-separator">Recent News</h2>
    <section class="recent-news-block">
        {% for news_post in recent_news %}
            <a class="recent-news-block__card news-card" href="{{ news_post.link }}">
                <p class="news-card--category">{{ news_post.terms('news-tax')|join(' &nbsp;|&nbsp; ') }}</p>
                <h3 class="news-card--title">{{ news_post.meta('news_post_title') }}</h3>
                <p class="news-card--date">{{ news_post.date }}</p>
                <div class="news-card--bar"></div>
            </a>
        {% endfor %}
    </section>

    <a class="primary-btn primary-btn--white has-border" href="/news">
        All News <span class="fa-solid fa-arrow-right"></span>
    </a>

    <div class="alt-background">
        <div class="alt-container">
            <h2 class="title-separator">Kash Crew</h2>
            <section class="kash-crew-block"></section>
        </div>
    </div>

    {# After the Kash Krew section, focus on media and a masonry grid layout #}
</section>
{% endblock %}
