{% extends 'base.twig' %}

{% block content %}
<section class="content-block">
    <div class="alt-background first-block">
        <div class="alt-container">
            <div class="title-wrap">
                <h2 class="title-separator">Upcoming Events</h2>
            </div>

            <section class="upcoming-events-block">
                <img
                    class="event-poster"
                    src="{{ post.meta('main_event_poster').url }}"
                    alt="{{ post.meta('main_event_poster').alt }}"
                />

                <div class="event-list">
                    {% for event in featured_events %}
                        <div class="event-list__event">
                            <div class="event-date">
                                <p class="h4">{{ event.event_date|date('M') }}</p>
                                <p class="h4">{{ event.event_date|date('j') }}</p>
                            </div>
                            <div>
                                <p class="h5">{{ event.headline_or_artist }} &mdash; {{ event.event_location }}</p>
                                <a class="primary-btn primary-btn--solid-white btn-small details" href="{{ event.link }}">Event Details</a>
                                {% if event.ticket_purchase_option %}
                                    <a
                                        class="primary-btn primary-btn--solid-white btn-small"
                                        href="{{ event.ticket_purchase_link }}"
                                        target="_blank"
                                        rel="noopener">
                                        Buy Tickets
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div> {# end event-list #}

            </section>
        </div>
    </div>

    <div class="title-wrap">
        <h2 class="title-separator">Recent News</h2>
    </div>

    <section class="recent-news-block">
        {% for news_post in recent_news %}
            <a class="recent-news-block__card news-card" href="{{ news_post.link }}">
                <p class="news-card--category">{{ news_post.terms('news-tax')|join(' &nbsp;|&nbsp; ') }}</p>
                <h3 class="news-card--title">{{ news_post.meta('news_post_title') }}</h3>
                <p class="news-card--date">{{ news_post.date }}</p>
                <div class="news-card--bar"></div>
            </a>
        {% endfor %}
    </section>

    <a class="primary-btn primary-btn--white has-border" href="/news">
        All News <span class="fa-solid fa-arrow-right"></span>
    </a>

    <div class="alt-background last-alt-block">
        <div class="alt-container">
            <div class="title-wrap">
                <h2 class="title-separator">Join the Kash Crew</h2>
            </div>

            <section class="kash-crew-block">
                <h3>Here's what being part of our crew is all about</h3>

                <div id="kash-krew-tabs">
                    <ul class="tab-bar-menu">
                        {% set tab_count = 1 %}
                        {% for tab in post.kash_krew_tabs %}
                            <li><a class="tab-name" href="#tab-{{ tab_count }}">{{ tab.tab_name }}</a></li>
                            {% set tab_count = tab_count + 1 %}
                        {% endfor %}
                    </ul>

                    {% set count = 1 %}
                    {% for tab in post.kash_krew_tabs %}
                        <div id="tab-{{ count }}" class="tab-content">
                            <p>{{ tab.tab_content }}</p>
                        </div>
                        {% set count = count + 1 %}
                    {% endfor %}
                </div>

            </section>

            <a class="primary-btn primary-btn--white has-border" href="/kash-krew">
                Sign Up Today <span class="fa-solid fa-arrow-right"></span>
            </a>

        </div>
    </div>

    <div class="title-wrap">
        <h2 class="title-separator">See Our Best Shot</h2>
    </div>

    <section class="image-gallery-block"></section>
</section>
{% endblock %}
